### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*_latexmk
*.gz
*.synctex*
*.xdv

## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

## VSCode settings files:
.vscode

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store
